@tailwind base;
@tailwind components;
@tailwind utilities;

.progress-done,
label,
.convert {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 3px 3px -5px #f2709c, 0 2px 5px #ff9472;
}
.app {
  background: linear-gradient(to left, #f2709c, #ff9472);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}
select {
  outline: none;
  color: #f2709c;
  cursor: pointer;
}
